@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(168, 85, 247, 0.4) rgba(15, 23, 42, 0.3);
}

/* WebKit browsers */
.app-scroll::-webkit-scrollbar {
  width: 8px;
}

.app-scroll::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.3);
  border-radius: 10px;
}

.app-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(34, 211, 238, 0.4),
    rgba(168, 85, 247, 0.4)
  );
  border-radius: 10px;
}

.app-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(34, 211, 238, 0.6),
    rgba(168, 85, 247, 0.6)
  );
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.delay-200 {
  animation-delay: 0.2s;
}

